/**
 * 通用背景
 */
.bg{
	background-color: #f9f9f9;
}

/**
 * form-validation表单验证，不兼容bootstrap4，自定义样式
 */
.has-success label{
	color: #28a745;
}
.has-success input
{
    border-color: #28a745;
}
.has-error label
{
    color: #dc3545;
}

.has-error input
{
    border-color: #dc3545;
}

.help-block{
    border-color: #dc3545;
}

.logo{
	height:1.6rem;
}

/**
 * 导航栏图像样式
 */
.avatar{
	width: 2rem;
	height: 2rem;
}

/**
 * 添加dropdown-hover 实现鼠标经过显示下拉框
 */
.dropdown-hover .dropdown:hover > .dropdown-menu{
	display: block;
}
.dropdown-hover .dropdown > .dropdown-toggle:active{
	pointer-events: none;
}

/**
 * 全局a标签样式
 */
a{
	color: #1a1a1a;
	
}

/**
 * 所有a标签，鼠标放上去样式
 */
a:hover{
	color: #d00;
	text-decoration: none;
}

/**
 * 音乐封面图片样式，设置固定宽高
 */
.container-song-banner{
	width: 5.375rem;
	height: 5.375rem;
}

/**
 * 鼠标放上去显示播放按钮，通过伪元素实现
 */
.button-hover-show-play:hover::after{
	content: "";
	
	/**
	 * 绝对定位
	 */
	position: absolute;
	
	/* 宽高 */
	width: 4.375rem;
	height: 4.375rem;
	
	/* 背景大小 */
	background-size: 4.375rem;
	
	top: 50%;
	left: 50%;
	
	margin-left: -2.1875rem;
	margin-top: -2.1875rem;
	
	/* 设置图片 */
	background-image: url(../assets/ic-cover-play.png);
}

/* 鼠标放上去，放大里面的图片（css3动画效果） *
/* 默认样式 */
.scale-hover{	
	/* 所有的，执行时间为0.7s */
	transition: all 0.7s;
}
/* 鼠标放上去状态 */
.scale-hover:hover{
	/* x,y分别放大到1.2倍 */
	transform: scale(1.2, 1.2);
	
	/* 所有的，执行时间为0.7s */
	transition: all 0.7s;
}
/* /鼠标放上去，放大里面的图片（css3动画效果） */

/**
 * 小一点的图片
 */
.image-small{
	width: 1.1rem;
	height: 1.1rem;
}

/**
 * 中等大小图片
 */
.image-mdddle{
	width: 1.5625rem;
	height: 1.5625rem;
}

/**
 * 大一点的图片
 */
.image-large{
	width: 3.125rem;
	height: 3.125rem;
}

/**
 * 歌曲行样式
 */
.row-song{
	height:3.125rem;
	line-height: 3.125rem;
}

/**
 * 鼠标放上去显示手掌形状
 */
.cursor-point{
	cursor: pointer;
}