/* 音乐播放界面body样式 */
.player-music-bg-container{
	background-color: rgb(77, 77, 58);
	height: 100% !important;
}
/**
 * 绝对定位，左上0,0
 */
.abs00{
	position: absolute;
	left: 0;
	top: 0;
}

/**
 * 背景图片样式
 */
.img-background{
	object-fit: cover;
}

/**
 * 背景高斯模糊
 */
.canvas-mask{
	
}


/**
 * 黑胶唱片及歌词容器
 */
.container-content{
	width: 100%;
}

/**
 * 音乐封面
 */
.image-cover{
	width: 16rem;
	height: 16rem;
	border: 0.675rem solid #ccc;
}

/**
 * 播放控制容器
 */
.container-play-control{
	margin-bottom: 2.5rem;
}

/**
 * 歌词容器
 */
.container-lyric{
	height: 26.6875rem;
	overflow-y:hidden;
	color: #eee;
}
.container-lyric:hover{
	overflow-y:scroll;
}
/**
 * 歌词容器滚动条样式
 */
.container-lyric::-webkit-scrollbar{
	width: 4px;
	color: transparent;
}
.container-lyric::-webkit-scrollbar-thumb{
	border-radius: 6px;
	background-color: #bbb;
}


/**
 * 显示歌词的ul
 */
.container-lyric-list{
	line-height: 2.7rem;
	/* 预留，防止滚动条挤占歌词内容宽度 */
	padding-right: 4px;
}

.container-lyric:hover .container-lyric-list{
	padding-right: 0px;
}

/**
 * 歌词高亮
 */
.container-lyric .container-lyric-list li.active{
	color: #dd0000;
	font-size: 1.5rem;
}
.container-lyric .container-lyric-list li{
	text-align: center;
	font-size: 0.9rem;
}