/**
 * 绝对定位，左上0,0
 */
.abs00{
	position: absolute;
	left: 0;
	top: 0;
}

/**
 * 背景图片样式
 */
.img-background{
	object-fit: cover;
}

/**
 * 背景高斯模糊
 */
.canvas-mask{
	
}


/**
 * 黑胶唱片及歌词容器
 */
.container-content{
	
}

/**
 * 音乐封面
 */
.image-cover{
	width: 16rem;
	height: 16rem;
	border: 0.675rem solid #ccc;
}

/**
 * 播放控制容器
 */
.container-play-control{
	margin-bottom: 2.5rem;
}

/**
 * 歌词容器
 */
.container-lyric{
	height: 18.75rem;
	overflow-y: scroll;
	color: #eee;
}

/**
 * 显示歌词的ul
 */
.container-lyric-list{
	line-height: 2.2rem;
}

/**
 * 歌词高亮
 */
.container-lyric .container-lyric-list li.active{
	color: #dd0000;
}